!!!
%html
  / %head
  /   %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  /   %title chatspacesample
  %body
    .flash-box
    .wrapper
      .chat-side
        .side-header
          .side-header__box
            %p.side-header__box__user-name qqqqqq
            %ul.side-header__box__menu
              %li.side-header__box__menu__edit-user
                %a{:href => "/groups/new"}
                  %i.fa.fa-edit
              %li.side-header__box__menu__new-group
                %a{:href => "/users/367/edit"}
                  %i.fa.fa-cog
        .groups
          %a{:href => "/groups/762/messages"}
            .group
              %p.group__group-name group_1
              %p.group__latest-message まだメッセージがありません
          %a{:href => "/groups/761/messages"}
            .group
              %p.group__group-name qqqグループ
              %p.group__latest-message qqqです
      .chat-main

        .main-header
          .main-header__left-box
            %h2.main-header__left-box__current-group{"data-group_id" => "761"}
              qqqグループ
            %ul.main-header__left-box__member-list
              Member：
              %li.main-header__left-box__member-list__member aaaa
              %li.main-header__left-box__member-list__member qqqqqq
          %a{:href => "/groups/761/edit"}
            .main-header__edit-btn Edit
        .messages
          .message{"data-message_id" => "1784"}
            .message__upper-info
              %p.message__upper-info__talker qqqqqq
              %p.message__upper-info__date 2019/03/14(Thu) 15:47:21
            %p.message__text qqqです
          .message{"data-message_id" => "1790"}
            .message__upper-info
              %p.message__upper-info__talker qqqqqq
              %p.message__upper-info__date 2019/03/14(Thu) 18:19:51
            %p.message__text おおお
        .form
          %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/761/messages", :enctype => "multipart/form-data", :method => "post"}
            %input{:name => "utf8", :type => "hidden", :value => "✓"}/
            %input{:name => "authenticity_token", :type => "hidden", :value => "+evHYFtpqxS7Kbqhl/GfxDNIHxG4r9IVCW9JxfiHRlcpeDE484JhbGvR14j6YrRQRewv2DGCjOAyOCKEAyRchw=="}/
            .input-box
              %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
              %label.input-box__image{:for => "message_image"}
                %i.fa.fa-image
                %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
            %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
    #pesticide-for-chrome-result
      %p
        You're hovering on = { node:
        = succeed ";" do
          %b div
        = succeed ";" do
          %b groups
        = succeed ";" do
          %b
